@include component(alert) {
    padding: 16px;
    margin-bottom: 24px;
    
    @include option(success) {
        color: #3c763d;
    }
    
    @include option(info) {
        color: #31708f;
    }
    
    @include option(warning) {
        color: #8a6d3b;
    }
    
    @include option(danger) {
        color: $errorColor;
    }
}
